.row
  .col-md-12
    %a.btn.btn-primary.pull-right(href=new_photo_path) Upload
    %h1 Photos
%br
%br
.row{ style: 'text-align: left' }
  - (@photos * 8).each do |photo|
    = render 'thumb', photo: photo
