- @photos_by_month.each do |month,photos|
  .row{ style: 'text-align: left' }
    %h3
      = month.strftime('%B %Y')
      &nbsp;
      %small #{photos.count} photos
    - photos.each do |photo|
      = render 'thumb', photo: photo
