.row
  .col-md-12.text-left
    .buttons
      = link_to 'Edit', edit_photo_path(@photo), class: 'btn btn-default'
      = link_to 'Download', download_photo_path(@photo), class: 'btn btn-default'
    %h4.tags
      - @photo.tags.each do |tag|
        %a.label.label-primary{ href: tag_path(tag) }= tag

.row
  .col-md-12
    .photo
      %img{ src: @photo.file.url, style: 'cursor: pointer; max-height: 100%; max-width: 100%;' }