// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  max-width: 100%;
  overflow: hidden;
}


header.slide-up {
  -webkit-transform: translate3d(0, -80px, 0);
}


#viewfinder {
  width: 400px;
  height: 280px;
}

#photoUploadPreview {
  max-height: 300px;
  max-width: 300px;
}

.view .row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.row h1 {
  margin-top: 0;
}

.row.touched {
  background: #cccccc;
}

.photo-medium {
  cursor: pointer;
  margin: 0 5px 5px 0;
  height: 100px;
  width: 100px
}

.photo-thumb {
  height: 25px;
  width: 25px;
}

.photo-thumb,
.photo-medium {
  display: inline-block;
  padding: 0;
}

.buttons {
  margin-right: 0.6em;
}

.buttons,
.tags .label {
  display: inline-block;
  margin-bottom: 0.5em;
}

.photo img {
  max-height: 100%;
  max-width: 100%;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.photo:fullscreen,
.photo:-webkit-fullscreen {
  width: 100%;
  height: 100%;
  text-align: center;
}

.lightbox {
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.lightbox, .lightbox .photo {
  z-index: 1100;
}

.view {
  left: 100%;
  display: none;
  background: white;
  width: 100%;
  min-height: 100%;
  position: absolute;
  #-webkit-transform: translate3d(100%, 0, 0);
  top: 0;
  height: 100%;
}

.view .container {
  // Pushes the view's content below the header
  margin-top: 70px;
}

.view,
.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition-property: top, bottom;
  transition-property: top, bottom;
  -webkit-transition-duration: .2s, .2s;
  transition-duration: .2s, .2s;
  -webkit-transition-timing-function: linear, linear;
  transition-timing-function: linear, linear;
  -webkit-overflow-scrolling: touch;
}

#home {
  display: block;
  left: 0;
  #-webkit-transform: translate3d(0, 0, 0);
}

.current-view,
.main-view {
  display: block !important;
}

// Apply it on both classes to get both forwad and back animations working
header,
.view,
.main-view {
  transition: transform 0.4s;
  -webkit-transition: -webkit-transform 0.4s ease;
}

.main-view {
  -webkit-transform: translate3d(-100%, 0, 0) !important;
}

.spin {
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
  to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes spin {
  to { -ms-transform: rotate(360deg); }
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
