// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#viewfinder {
  width: 400px;
  height: 280px;
}

#photoUploadPreview {
  max-height: 300px;
  max-width: 300px;
}

.photo {
  img {
    height: 150px;
    //width: 100%;
  }
}
.thumb {
  padding: 0.1em;
}

.buttons {
  margin-right: 0.6em;
}

.buttons, .tags .label {
  display: inline-block;
  margin-bottom: 0.5em;
}