<script>

    function organizeByMonth(photos) {
        var photosByMonth = {};
        for (var i = 0; i < photos.length; i++) {
            var taken = moment.unix(photos[i].taken_at);
            var key = taken.format("MMMM YYYY");
            if (!photosByMonth[key]) {
                photosByMonth[key] = [photos[i]];
            } else {
                photosByMonth[key].push(photos[i]);
            }
        }
        return photosByMonth;
    }

    $.get("/photos.json", function(photos) {
        var template = doT.template($("#photosTemplate").html());
        $("#photos").html(template(organizeByMonth(photos)));
    });
</script>

<div id="photos"></div>
<script id="photosTemplate" type="text/doT">
{{ for (var month in it) { }}
  {{ var photos = it[month]; }}
  <div class="row" style="text-align: left">
    <div class="col-md-12">
      <h3>
        {{=month}}
        &nbsp;
        <small>{{=photos.length}} photos</small>
      </h3>
      {{~photos :photo:index}}
        <div class="photo thumb col-md-2 col-sm-3 col-xs-4">
          <a href="{{=photo.url}}">
            <img src="{{=photo.thumb_url}}" />
          </a>
        </div>
      {{~}}
    </div>
  </div>
{{ } }}
</script>
